.gamebar {
  color: #FFF;

  h1 {
    margin: 0 0 20px 0;
  }

  .actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;

    h3 {
      margin: 0 0 5px 0;

      &:last-of-type {
        margin: 0;
      }
    }
  }
}