.gamebar {
  color: #FFF;
  width: 100%;

  h1 {
    margin: 0 0 20px 0;
  }

  .actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;

    h3 {
      margin: 0 0 5px 0;

      &:last-of-type {
        margin: 0;
      }
    }

    .controls {
      display: flex;

      button {
        align-items: center;
        background: unset;
        border: 0;
        cursor: pointer;
        display: flex;
        height: 32px;
        justify-content: center;
        margin-left: 10px;
        transition: 0.3s all;
        width: 32px;

        img {
          height: 24px; 
          width: 24px;
        }

        &:disabled {
          opacity: 0.3;
        }
      }
    }
  }
}