.tile {
  align-items: center;
  aspect-ratio: 1;
  background-color: #485460;
  box-shadow: inset 0px 0px 1px 0px #FFFA;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  display: flex;
  font-size: 50px;
  justify-content: center;
  position: absolute;
  transition: 0.3s left, 0.3s top;
}
