@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

html, 
body {
  height: 100%;
}

body {
  background: #1e272e;
  font-family: 'Play', sans-serif;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  #root {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100% - 20px);
    justify-content: center;
    margin: auto;
    max-width: 1024px;
    padding: 10px;
    width: calc(100% - 20px);
  }
}

.Toastify__toast-body {
  color: #000;
  font-family: 'Play', sans-serif;
}